/target/

conf/config.xml
*.prefs
.project
*.classpath
src/main/java/net/sf/mzmine/modules/rawdatamethods/peakpicking/massdetection/PeakInvestigator/PeakInvestigatorTask - Copy.java
src/main/java/com/veritomyx/PeakInvestigatorSaaS - Copy.java